#page_03_butterfly_02 {
    position: absolute;
    left: 77.0%;
    top: 53.1%;
    width: 13.9%;
    height: 8%;
    z-index:14; 
        opacity: 0;
    /*background-color: #00ff00;*/
    -webkit-transform: rotate(-25deg) translate(0px, 0px) scale(1.0, 1.0);
    -webkit-transform-origin: top left;
    -moz-transform: rotate(-25deg) translate(0px, 0px) scale(1.0, 1.0);
    -moz-transform-origin: top left;
}


#page_03_butterfly_02.animate {
    -webkit-animation-name: page_03_butterfly_02_ani;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes page_03_butterfly_02_ani {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#page_03_rightwing_02 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-image: url(../img/wing_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotate3d(0, 1, 0, 180deg); /* Mirror left wing */
    -webkit-transform-origin: center right;
    -moz-transform: rotate3d(0, 0, 1, 180deg); /* Mirror left wing */
    -moz-transform-origin: center right;
}
#page_03_rightwing_02.animate {
    -webkit-animation-name: rightwingani;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: rightwingani;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes rightwingani {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }

    30% {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 1, 0, 100deg);
    }

    70% {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
    }
}

@-moz-keyframes rightwingani {
    from {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }

    30% {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }

    50% {
        -moz-transform: rotate3d(0, 1, 0, 100deg);
    }

    70% {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }

    to {
        -moz-transform: rotate3d(0, 1, 0, 180deg);
    }
}

#page_03_leftwing_02 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-image: url(../img/wing_01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1.0, 1.0);
    -webkit-transform-origin: top right;
    -moz-transform: rotate(0deg) translate(0px, 0px) scale(1.0, 1.0);
    -moz-transform-origin: top right;
}
#page_03_leftwing_02.animate {
    -webkit-animation-name: leftwingani;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: leftwingani;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes leftwingani {
    from {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
    }

    30% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 1, 0, 80deg);
    }

    70% {
        -webkit-transform: rotate3d(0, 1, 0, 00deg);
    }

    to {
        -webkit-transform: rotate3d(0, 1, 0, 00deg);
    }
}


@-moz-keyframes leftwingani {
    from {
        -moz-transform: rotate3d(0, 1, 0, 0deg);
    }

    30% {
        -moz-transform: rotate3d(0, 1, 0, 0deg);
    }

    50% {
        -moz-transform: rotate3d(0, 1, 0, 80deg);
    }

    70% {
        -moz-transform: rotate3d(0, 1, 0, 00deg);
    }

    to {
        -moz-transform: rotate3d(0, 1, 0, 00deg);
    }
}